UnityProject/Library/
UnityProject/Temp/
UnityProject/.vs/UnityProject/v14/.suo
UnityProject/TacoTuesday.Editor.Plugins.csproj
UnityProject/TacoTuesday.Plugins.csproj
UnityProject/TacoTuesday.sln
UnityProject/UnityProject.csproj
UnityProject/UnityProject.sln
UnityProject/Builds/
UnityProject/UnityProject.Editor.csproj
UnityProject/UnityProject.Plugins.csproj
UnityProject/UnityProject.VC.db
